## Project Title: 

### Leveraging Data Insights for Sales Optimization in 2019

## 1. Business Understanding

### Project Description
### 1. Introduction
In this project, we aim to design and deliver an end-to-end business intelligence solution leveraging transactional data from 2019 to provide valuable insights for our client. The client has collected data throughout the year but hasn't utilized it effectively to drive sales and improve operational efficiency. Our goal is to analyze the data comprehensively and present actionable insights that will enable the client to identify opportunities for growth and optimization.

### 1.1. Objectives
The main objectives of this project are as follows:

- Analyze the 2019 transactional data to determine the total revenue generated throughout the year.

- Identify any seasonal patterns or trends in sales to understand the seasonality of the business.

- Determine the best-selling and worst-selling products based on sales volume and revenue.

- Compare sales performance across different months or weeks to identify trends and fluctuations.

- Analyze the distribution of product deliveries across cities to identify key markets.

- Compare product categories in terms of revenue generated and quantities ordered to understand their contribution to overall sales.

### Analyitical Questions
1. How much money did we make this year? 

2. Can we identify any seasonality in the  sales? 

3. What are our best and worst-selling products? 

4. How do sales compare to previous months or weeks? 

5. Which cities are our products delivered to most? 

6. How do product categories compare in revenue generated and quantities  ordered?

### 1.2. Methodology
To achieve these objectives, we will follow a systematic methodology that includes the following steps:

1. Data Collection: Retrieve transactional data for the entire year of 2019 from both CSV files (January to June) and the remote database (July to December).

2. Data Preprocessing: Clean and preprocess the data to handle missing values, outliers, and inconsistencies.

3. Exploratory Data Analysis (EDA): Conduct exploratory data analysis to gain insights into the distribution, trends, and patterns within the data.

4. Statistical Analysis: Perform statistical analysis to answer specific questions such as total revenue, seasonal trends, best-selling products, etc.

6. Data Visualization: Visualize the findings using charts, graphs, and tables to facilitate understanding and interpretation.

7. Interpretation and Insights: Provide actionable insights and recommendations based on the analysis to help the client make informed decisions.

8. Report Generation: Prepare a comprehensive report summarizing the analysis, findings, and recommendations for the client's reference.


By following this methodology, we aim to deliver a robust business intelligence solution that empowers our client to optimize sales strategies, identify growth opportunities, and enhance operational efficiency.

## 2.Data Understanding

####  Features
1. Order ID	- This feature represents a unique identifier for each order.
2. Product	- This feature represents the name or type of product ordered.
3. Quantity Ordered	- This feature represents the quantity of each product ordered
4. Price Each - This feature represents the price of each product.
5. Order Date - This feature represents the date and time when the order was placed
6. Purchase Address - This feature represents the address where the purchase was made


#### Numerical features
1. Quantity Ordered
2.  Price Each

#### Categorical features
1.  Order ID
2. Product
3. Order Date
4. Purchase Address

Installing libraries and Packages


In this section we will import all the packages/libraries that we will be using through this project

### Importation

In [3]:
# Data Handling
import pandas as pd  # For data manipulation and analysis using DataFrames
import numpy as np  # For numerical operations and arrays
import pyodbc  # For handling connections to Microsoft SQL Server
from dotenv import dotenv_values  # For loading environment variables, possibly including database credentials
import os

# Statistical Analysis
import math  # Basic mathematical operations

# Warning Handling
import warnings  # To handle warnings in a way that they can be ignored
warnings.filterwarnings('ignore')

##  Load Dataset

### 1. Load First Dataset (CSV Dataset)

In [24]:

# Directory path where CSV files for January to June are located
directory_path = r"../Power BI Capstione Data - (Jan -May)"

# List of file names for each month
file_names = [
    "Sales_January_2019.csv",
    "Sales_February_2019.csv",
    "Sales_March_2019.csv",
    "Sales_April_2019.csv",
    "Sales_May_2019.csv",
    "Sales_June_2019.csv"
]

# Generate file paths for each month
file_paths = [os.path.join(directory_path, file_name) for file_name in file_names]

# Load CSV files into separate DataFrames
data_frames = [pd.read_csv(file) for file in file_paths]

# Combine DataFrames into a single DataFrame
first_half_data = pd.concat(data_frames, ignore_index=True)

## Data Exploration for the First Half dataset

In [25]:
# Displaying the second half of the dataframe
first_half_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
85620,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
85621,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
85622,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
85623,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
85624,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

In [29]:
# Display basic information about the first dataset
first_half_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85625 entries, 0 to 85624
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          85380 non-null  object
 1   Product           85380 non-null  object
 2   Quantity Ordered  85380 non-null  object
 3   Price Each        85380 non-null  object
 4   Order Date        85380 non-null  object
 5   Purchase Address  85380 non-null  object
dtypes: object(6)
memory usage: 3.9+ MB

In [31]:
# Checking missing values for First dataset
first_half_data.isnull().sum()

Order ID            245
Product             245
Quantity Ordered    245
Price Each          245
Order Date          245
Purchase Address    245
dtype: int64

In [36]:
# Checking datatype of First dataset
first_half_data.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

- The first six months all the columns are are in the object data types
- Quantity Ordered and Price Each column they are stored as an object, which is unexpected as they are representing a numerical quantity. Instead it should typically be stored as an integer or float data type.
- Order Date feature is also stored as an object, which is unexpected for a date and time feature. It should be converted to a datetime data type for easier manipulation and analysis.

In [44]:
# Check for duplicated rows
first_half_data.duplicated().sum()

511

### 2. Load Second Dataset (from remote SQL database)

In [61]:
# # Load environment variables from .env file into a dictionary
# environment_variables = dotenv_values('.env')

# # Get the values for the credentials set in the '.env' file
# server = environment_variables.get("SERVER")
# database = environment_variables.get("DATABASE")
# username = environment_variables.get("UID")
# password = environment_variables.get("PWD")

# # Connection string
# connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

#  # Establish a connection
# connection = pyodbc.connect(connection_string)

In [64]:
# # Load environment variables from .env file into a dictionary
# environment_variables = dotenv_values('.env')

# # Get the values for the credentials you set in the '.env' file
# server = environment_variables.get("SERVER")
# database = environment_variables.get("DATABASE")
# username = environment_variables.get("UID")
# password = environment_variables.get("PWD")

# # Connection string
# connection_string = (
#     f"DRIVER={{ODBC Driver 17 for SQL Server}};"
#     f"SERVER={server};"
#     f"DATABASE={database};"
#     f"UID={username};"
#     f"PWD={password}"
# )
#  # Establish a connection
# connection = pyodbc.connect(connection_string)

In [17]:
# Database credentials
server_name = 'dap-projects-database.database.windows.net'
database_name = 'dapDB'
user = 'capstone'
password = 'Z7x@8pM$2w'

# Connection string
conn_str = (
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'UID={user};'
    f'PWD={password}'
)

# Establish connection
conn = pyodbc.connect(conn_str)

In [18]:
# Define SQL queries
sql_queries = [
    'SELECT * FROM dbo.Sales_August_2019',
    'SELECT * FROM dbo.Sales_July_2019',
    'SELECT * FROM dbo.Sales_September_2019',
    'SELECT * FROM dbo.Sales_October_2019',
    'SELECT * FROM dbo.Sales_November_2019',
    'SELECT * FROM dbo.Sales_December_2019'
]

# Execute queries and fetch data into DataFrames
data_frames = []
for sql_query in sql_queries:
    df = pd.read_sql(sql_query, conn)
    data_frames.append(df)

# Combine DataFrames into a single DataFrame
second_half_data = pd.concat(data_frames, ignore_index=True)

## Data Exploration for the second Half dataset

In [39]:
# Displaying the second half of the dataframe
second_half_data

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,236670.0,Wired Headphones,2.0,11.990000,2031-08-19 22:21:00,"359 Spruce St, Seattle, WA 98101"
1,236671.0,Bose SoundSport Headphones,1.0,99.989998,2015-08-19 15:11:00,"492 Ridge St, Dallas, TX 75001"
2,236672.0,iPhone,1.0,700.000000,2006-08-19 14:40:00,"149 7th St, Portland, OR 97035"
3,236673.0,AA Batteries (4-pack),2.0,3.840000,2029-08-19 20:59:00,"631 2nd St, Los Angeles, CA 90001"
4,236674.0,AA Batteries (4-pack),2.0,3.840000,2015-08-19 19:53:00,"736 14th St, New York City, NY 10001"
...,...,...,...,...,...,...
101220,319666.0,Lightning Charging Cable,1.0,14.950000,2011-12-19 20:58:00,"14 Madison St, San Francisco, CA 94016"
101221,319667.0,AA Batteries (4-pack),2.0,3.840000,2001-12-19 12:01:00,"549 Willow St, Los Angeles, CA 90001"
101222,319668.0,Vareebadd Phone,1.0,400.000000,2009-12-19 06:43:00,"273 Wilson St, Seattle, WA 98101"
101223,319669.0,Wired Headphones,1.0,11.990000,2003-12-19 10:39:00,"778 River St, Dallas, TX 75001"
101224,319670.0,Bose SoundSport Headphones,1.0,99.989998,2021-12-19 21:45:00,"747 Chestnut St, Los Angeles, CA 90001"

In [30]:
# Display basic information about the second dataset
second_half_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101225 entries, 0 to 101224
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order_ID          100730 non-null  float64
 1   Product           100925 non-null  object
 2   Quantity_Ordered  100730 non-null  float64
 3   Price_Each        100730 non-null  float64
 4   Order_Date        100730 non-null  datetime64[ns]
 5   Purchase_Address  100925 non-null  object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 4.6+ MB

In [32]:
# Checking missing values for First dataset
second_half_data.isnull().sum()

Order_ID            495
Product             300
Quantity_Ordered    495
Price_Each          495
Order_Date          495
Purchase_Address    300
dtype: int64

In [38]:
# Checking datatype of Second dataset
second_half_data.dtypes

Order_ID                   float64
Product                     object
Quantity_Ordered           float64
Price_Each                 float64
Order_Date          datetime64[ns]
Purchase_Address            object
dtype: object

- we have three float64, two objects and and one datetime datatype.
- Order_ID is stored as a floating-point number instead of a string or integer. This might indicate some data quality issues or inconsistencies in the data.

In [42]:
# Check for duplicated rows
second_half_data.duplicated().sum()

649

In [45]:
# # Convert 'Quantity Ordered' column to numeric
# combined_data['Quantity Ordered'] = pd.to_numeric(combined_data['Quantity Ordered'], errors='coerce')

# # Convert 'Price Each' column to numeric
# combined_data['Price Each'] = pd.to_numeric(combined_data['Price Each'], errors='coerce')

# # Convert 'Order Date' column to datetime
# combined_data['Order Date'] = pd.to_datetime(combined_data['Order Date'], errors='coerce')


# # Check the data types again
# combined_data.dtypes

In [46]:
# # Rename columns in combined_df to match the column names in combined_data
# combined_df.rename(columns={'Order_ID': 'Order ID',
#                             'Quantity_Ordered': 'Quantity Ordered',
#                             'Price_Each': 'Price Each',
#                             'Purchase_Address': 'Purchase Address',
#                             'Order_Date': 'Order Date'}, inplace=True)